Project Notes/n8n/HomeFax-3.0--Auth-Based.json
{
  "createdAt": "2025-01-19T00:00:00.000Z",
  "updatedAt": "2025-01-19T00:00:00.000Z",
  "id": "auth-based-workflow",
  "name": "HomeFax 3.0 - Auth-Based (No Email Prompt)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! I'm your HomeFax AI Assistant, and I can help you understand your homeowners insurance policy in plain language. I can explain what's covered (and what's not), help with claims guidance, track home maintenance, and connect you with the right staff member when needed.\n\nI have access to your policy information through your secure login. What questions do you have about your homeowners insurance?",
        "options": {
          "allowFileUploads": false,
          "inputPlaceholder": "Ask about your coverage, claims, or policy details...",
          "subtitle": "Get instant answers about your homeowners insurance coverage + routing to the right staff",
          "title": "HomeFax AI Assistant 3.0 (Auth-Based) 🏠",
          "responseMode": "lastNode"
        }
      },
      "id": "chat-trigger-auth",
      "name": "Auth-Based Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [1232, 432],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "id": "gemini-auth",
      "name": "Connect Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [1344, 624],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "yJp0W04dueYXZHSN",
          "name": "Google Gemini (n8n-api-creds)"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $(\"Auth-Based Chat\").item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1520, 624],
      "id": "memory-auth",
      "name": "Auth Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get the current user's policyholder information using their authenticated profile",
        "operation": "get",
        "tableId": "policyholders",
        "filters": {
          "conditions": [
            {
              "keyName": "profile_id",
              "keyValue": "={{ auth.uid() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1728, 500],
      "id": "get-my-policyholder",
      "name": "Get My Policyholder",
      "credentials": {
        "supabaseApi": {
          "id": "ReFMcY8N5op0JJEg",
          "name": "Supabase: HomeFax"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get all insurance policies for the current user's policyholder account",
        "operation": "getAll",
        "tableId": "policies",
        "filters": {
          "conditions": [
            {
              "keyName": "policyholder_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(\"conditions0_Field_Value\", `The policyholder ID from the Get My Policyholder tool`, \"string\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1904, 500],
      "id": "get-my-policies",
      "name": "Get My Policies",
      "credentials": {
        "supabaseApi": {
          "id": "ReFMcY8N5op0JJEg",
          "name": "Supabase: HomeFax"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get detailed information about a specific insurance policy by policy number",
        "operation": "get",
        "tableId": "policies",
        "filters": {
          "conditions": [
            {
              "keyName": "policy_number",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(\"conditions0_Value\", `The policy number (e.g., PTX001)`, \"string\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1728, 600],
      "id": "get-policy-details-auth",
      "name": "Get Policy Details",
      "credentials": {
        "supabaseApi": {
          "id": "ReFMcY8N5op0JJEg",
          "name": "Supabase: HomeFax"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get insurance carrier information including portal URLs, contact details, and supported states",
        "operation": "get",
        "tableId": "insurance_carriers",
        "filters": {
          "conditions": [
            {
              "keyName": "carrier_code",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI(\"conditions0_Value\", `The carrier code (e.g., LLI, SHC, CM)`, \"string\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1904, 600],
      "id": "get-carrier-info-auth",
      "name": "Get Carrier Info",
      "credentials": {
        "supabaseApi": {
          "id": "ReFMcY8N5op0JJEg",
          "name": "Supabase: HomeFax"
        }
      }
    }
  ],
  "connections": {
    "Auth-Based Chat": {
      "main": [
        [
          {
            "node": "Connect Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Connect Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Auth Memory",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auth Memory": {
      "ai_memory": [
        [
          {
            "node": "Get My Policyholder",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get My Policyholder": {
      "ai_tool": [
        [
          {
            "node": "Get My Policies",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get My Policies": {
      "ai_tool": [
        [
          {
            "node": "Get Policy Details",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Policy Details": {
      "ai_tool": [
        [
          {
            "node": "Get Carrier Info",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}
